@model AddNewProductViewModel

<div>
    <a class="btn btn-primary" asp-action="ViewAllProducts" asp-controller="WorkerProduct">Back</a>
    <h1 class="bg-primary text-white text-center m-2 p-2">Enter product information</h1>
    <form asp-action="EditProductById" method="post" class="m-2" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name" class="form-label">Name of product:</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Alcoholic" class="form-label">
                Is this product alcoholic?
            </label>
            <select asp-for="Alcoholic">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ProfilePicture" class="form-label">Add picture of product:</label>
            <input asp-for="ProfilePicture" accept="image/*" type="file"/>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Confirm changes</button>
    </form>
</div>
