@model IEnumerable<Core.Domain.Product>

<div>
    @if (ViewBag.PacketIsReserved != null)
    {
        <p>@ViewBag.PacketIsReserved</p>
    }
    <a class="btn btn-primary" asp-action="Index" asp-controller="WorkerFoodPacket">Back</a>
    <a class="btn btn-primary" asp-action="AddNewProduct" asp-controller="WorkerProduct">Add new product</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">All products</th>
        </tr>
        <th>Name</th>
        <th>Alcoholic?</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <a asp-action="ViewProductDetails" asp-controller="WorkerProduct" asp-route-id="@product.Id">@product.Name</a>
                </td>
                @if (product.Alcoholic)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @{
                    var foodPackets = product.FoodPackets?.ToList();
                    if ((bool) !foodPackets?.Exists(fp => fp.ReservedBy != null))
                    {
                        <td>
                            <a asp-action="DeleteProductById" asp-controller="WorkerProduct" asp-route-id="@product.Id">Delete</a>
                        </td>
                        <td>
                            <a asp-action="EditProductById" asp-controller="WorkerProduct" asp-route-id="@product.Id">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div>
