@model DisplayProductViewModel

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="WorkerFoodPacket">Back to home</a>
    <h2>@Model.Name</h2>
    <hr/>

    <div class="row">
        <div class="col-3">
            <img src="data:@Model.PictureFormat;base64,@Model.ProfilePicture" alt="Picture of product" height="150"/>
        </div>

        <div class="col-9">
            @if (Model.Alcoholic)
            {
                <p>This product is alcoholic</p>
            }
            else
            {
                <p>This product is not alcoholic</p>
            }
        </div>
    </div>
</div>
