@model StudentIndexViewModel

<div>
    @if (ViewBag.PacketIsReserved != null)
    {
        <p>@ViewBag.PacketIsReserved</p>
    }
    <a asp-action="ReservedPackets" class="btn btn-primary">View my reserved packets</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="8">Available packets</th>
        </tr>
        <th>Name</th>
        <th>City</th>
        <th>Cafeteria</th>
        <th>Pickup time</th>
        <th>Pickup expiration time</th>
        <th>18+</th>
        <th>Price</th>
        @* <th>Meal type</th> *@
        <th>Reserve packet</th>
        </thead>
        <tbody>
        @foreach (var fp in Model.FoodPackets)
        {
            <tr>
                <td>
                    <a asp-action="ViewFoodPacketDetails" asp-controller="StudentFoodPacket" asp-route-id="@fp.Id">@fp.Name</a>
                </td>
                <td>@fp.City</td>
                <td>@fp.Location</td>
                <td>@fp.PickupTime</td>
                <td>@fp.PickupExpirationTime</td>
                @if ((bool) fp.Is18Plus)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@fp.Price</td>
                @* <td>@fp.MealType</td> *@
                <td>
                    @if (!Model.IsReservationThatDay(fp) // check that user has not reserved a packet that day
                         && (fp.Is18Plus == false
                             || (fp.Is18Plus == true && Model.UserAgePlus18.Date <= fp.PickupTime.Value.Date))) // check that user is 18 if packet is 18+
                    {
                        <a asp-action="ReserveFoodPacket" asp-controller="StudentFoodPacket" asp-route-id="@fp.Id">Reserve</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>