@model IEnumerable<Core.Domain.FoodPacket>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="StudentFoodPacket">Back</a>
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>City</th>
        <th>Cafeteria</th>
        <th>Pickup time</th>
        <th>Pickup expiration time</th>
        <th>18+</th>
        <th>Price</th>
        <th>Meal type</th>
        <th>Cancel reservation</th>
        </thead>
        <tbody>
        @foreach (var fp in Model)
        {
            <tr>
                <td>
                    <a asp-action="ViewFoodPacketDetails" asp-controller="StudentFoodPacket" asp-route-id="@fp.Id">@fp.Name</a>
                </td>
                <td>@fp.City</td>
                <td>@fp.Location</td>
                <td>@fp.PickupTime</td>
                <td>@fp.PickupExpirationTime</td>
                @if ((bool) fp.Is18Plus)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@fp.Price</td>
                <td>@fp.MealType</td>
                <td>
                    <a asp-action="CancelFoodPacketReservation" asp-controller="StudentFoodPacket" asp-route-id="@fp.Id">Cancel</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
