@model Core.Domain.FoodPacket

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="StudentFoodPacket">Back</a>
    <h2>@Model.Name</h2>
    <hr/>
    <h4>General information about this packet:</h4>
    <table class="table table-striped">
        <thead>
        <th>City</th>
        <th>Location</th>
        <th>Price</th>
        <th>Contains alcohol</th>
        <th>Pickup time</th>
        <th>Pickup expiration time</th>
        </thead>
        <tbody>
        <tr>
            <td>@Model.City</td>
            <td>@Model.Location</td>
            <td>@Model.Price</td>
            @if ((bool) @Model.Is18Plus)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>@Model.PickupTime</td>
            <td>@Model.PickupExpirationTime</td>
        </tr>
        </tbody>
    </table>

    <h4>Products in this packet:</h4>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                <a asp-action="ViewProductDetails" asp-controller="StudentProduct" asp-route-id="@product.Id">@product.Name</a>
            </li>
        }
    </ul>
</div>
