@using Core.Domain
@model EditPacketViewModel

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="WorkerFoodPacket">Back</a>
    <h1 class="bg-primary text-white text-center m-2 p-2">Enter packet information</h1>
    <form asp-action="EditPacketById" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name" class="form-label">Name of packet:</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="form-label">Choose products:</label>
            @foreach (var product in Model.ProductsAsCheckboxOption)
            {
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value="@product.Id"
                           name="IdsOfChosenProducts"
                           id="@product.Id"
                           checked="@product.IsChecked"/>
                    <label class="form-check-label">
                        @product.Name
                    </label>
                </div>
            }
        </div>
        <div class="form-group">
            <label asp-for="City" class="form-label">
                Select the city of the cafeteria:
            </label>
            <select asp-for="City" asp-items="Html.GetEnumSelectList<CafeteriaCityEnum>()"></select>
        </div>
        <div class="form-group">
            <label asp-for="PickupTime" class="form-label">Pickup time:</label>
            <input asp-for="PickupTime" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="PickupExpirationTime" class="form-label">Pickup expiration time:</label>
            <input asp-for="PickupExpirationTime" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Is18Plus" class="form-label">
                Is this packet 18+?
            </label>
            <select asp-for="Is18Plus">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="form-label">Price of packet:</label>
            <input asp-for="Price" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="City" class="form-label">
                Select the type of the meal:
            </label>
            <select asp-for="MealType" asp-items="Html.GetEnumSelectList<MealType>()"></select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Confirm changes</button>
    </form>
</div>
