@model IEnumerable<IEnumerable<Core.Domain.FoodPacket>>

<div>
    @if (ViewBag.PacketIsReserved != null)
    {
        <p>@ViewBag.PacketIsReserved</p>
    }
    <a class="btn btn-primary" asp-action="AddNewPacket" asp-controller="WorkerFoodPacket">Add new food packet</a>
    <a class="btn btn-primary" asp-action="ViewAllProducts" asp-controller="WorkerProduct">View all products</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="9">All packets in your location</th>
        </tr>
        <th>Name</th>
        <th>City</th>
        <th>Cafeteria</th>
        <th>Pickup time</th>
        <th>Pickup expiration time</th>
        <th>18+</th>
        <th>Price</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        @foreach (var fp in Model.First())
        {
            <tr>
                <td>
                    <a asp-action="ViewFoodPacketDetails" asp-controller="WorkerFoodPacket" asp-route-id="@fp.Id">@fp.Name</a>
                </td>
                <td>@fp.City</td>
                <td>@fp.Location</td>
                <td>@fp.PickupTime</td>
                <td>@fp.PickupExpirationTime</td>
                @if ((bool) fp.Is18Plus)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@fp.Price</td>
                <td>
                    @if (fp.ReservedBy == null)
                    {
                        <a asp-action="DeletePacketById" asp-route-id="@fp.Id">Delete packet</a>
                    }
                </td>
                <td>
                    @if (fp.ReservedBy == null)
                    {
                        <a asp-action="EditPacketById" asp-route-id="@fp.Id">Edit packet</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="9">All packets from all locations</th>
        </tr>
        <th>Name</th>
        <th>City</th>
        <th>Cafeteria</th>
        <th>Pickup time</th>
        <th>Pickup expiration time</th>
        <th>18+</th>
        <th>Price</th>
        @* <th>Meal type</th> *@
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        @foreach (var fp in Model.Last())
        {
            <tr>
                <td>
                    <a asp-action="ViewFoodPacketDetails" asp-controller="WorkerFoodPacket" asp-route-id="@fp.Id">@fp.Name</a>
                </td>
                <td>@fp.City</td>
                <td>@fp.Location</td>
                <td>@fp.PickupTime</td>
                <td>@fp.PickupExpirationTime</td>
                @if ((bool) fp.Is18Plus)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@fp.Price</td>
                @* <td>@fp.MealType</td> *@
                <td>
                    @if (fp.ReservedBy == null)
                    {
                        <a asp-action="DeletePacketById" asp-route-id="@fp.Id">Delete packet</a>
                    }
                </td>
                <td>
                    @if (fp.ReservedBy == null)
                    {
                        <a asp-action="EditPacketById" asp-route-id="@fp.Id">Edit packet</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
