@model Portal.Models.LoginViewModel

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <div>
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <input asp-for="EmailAddress" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="password" asp-for="Password" class="form-control"/>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
